/* *{
    margin-top: 70px ;
}

.searchContainer{
    text-align: center;
    position: relative;
    background-color: aqua;
    height: 250px;
    width: 50%;
}

.search{
    margin-top: 10px;
} */